:root {
  --transition-duration: 400ms;
}

#root {
  width: 100%;
}

.app-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

a {
  &:hover {
    color: unset;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cards {
  position: relative;
  list-style: none;
  display: grid;
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr;
}

.card {
  position: relative;
  display: grid;
  place-content: center;
  min-height: 7rem;
  padding: 2rem;
  color: #fff;
  background-color: #e7ad40;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1), inset 0 0 5px #000;
  text-align: center;
  z-index: 0;
  transition: background-color 400ms;

  &.completed {

    p {
      text-decoration: line-through;
    }
  }

  > * {
    z-index: 1;
  }

  &:hover,
  &:focus-within {

    .todo-actions {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(390px, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.read-the-docs {
  color: #888;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.App > * {
  margin-top: 15px;
}

.App > :first-child {
  margin-top: 0;
}

.error {
  display: none;

  &.show {
    display: block;
  }
}

.modal-error {
  font-size: .8rem;
}

.cta {
  padding: .5rem 1rem;
  font-size: 1.6rem;
  border-radius: 12px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #2f4f4f;
  transition:
    background-color 400ms,
    border-color 400ms,
    color 400ms;

  &:hover {
    color: #2f4f4f;
    border-color: #2f4f4f;
    background-color: transparent;
  }
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.top-right-todo {
  position: absolute;
  top: -.7rem;
  right: -.7rem;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

.icon-close {
  fill: #e71c1c;
}

.icon-edit {
  stroke: #fff;
}

.icon-color {
  fill: #fff;
}

.icon-check {
  fill: #20d341;
}

.addTodo {
  position: fixed;
  bottom: 4.5rem;
  right: 3.5rem;
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  fill: #fff7;
  border-radius: 50%;
  box-shadow: 
    0 0 8px 1px #fff7,
    inset 0 0 4px 1px #4447;
}

.todo-actions:not(input) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  min-height: 100%;
  background-image: linear-gradient(0deg, #111, transparent);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms;

  > * {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }

  svg {
    pointer-events: none;
  }
}

.floating-menu {
    position: fixed;
    top: 50%;
    right: -7.5rem;
    min-height: 7rem;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    translate: 0 -50%;
    border-radius: 32px;
    background-color: rgba(var(--color-bg), .6);
    box-shadow: 0 0 15px 1px #0003;
    transform: translate(0);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition:
      transform var(--transition-duration),
      min-height var(--transition-duration),
      padding var(--transition-duration);

    &.active {
      transform: translate(-100%);
      min-height: 10rem;
    }

    .switch {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 34px;
      border-radius: 34px;
      background-color: #888;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked +.slider svg {
          transform: translate(26px);
        }
      }

      span {
        border-radius: 34px;
      }
    }

    .arrows {
      position: absolute;
      left: -3.5rem;
      display: flex;
      align-items: center;
      padding: .5rem;
      margin-top: 0;
      background-color: rgba(var(--color-bg), .6);
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 5px 1px #0003;
      transition: rotate var(--transition-duration), filter var(--transition-duration);
    }

    .slider {
      cursor: pointer;
      background-color: #888;
      transition: 400ms;
    }
}

.todo-input-container {
  width: 100%;

  .todo-input {
    padding: .5rem 1rem;
    text-align: center;
    border: 0;
    background-color: transparent;
  }
}

.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: #0009;
  z-index: 1;

  > *:not(:first-child) {
    margin-top: 1rem;
  }

  > :first-child {
    margin-top: 0;
  }

  input {
    padding: 1rem;
    border: 0;
    border-radius: 12px;
  }

  .modal-actions {

    > *:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.btn {
  min-width: 100px;
  padding: .6rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  transition:
    border var(--transition-duration),
    background-color var(--transition-duration);

  &.success {
    border: 1px solid transparent;
    background-color: #1e752e;

    &:hover,
    &:focus {
      border: 1px solid #1e752e;
      background-color: transparent;
    }
  }

  &.cancel {
    border: 1px solid transparent;
    background-color: #8a1919;

    &:hover,
    &:focus {
      border: 1px solid #8a1919;
      background-color: transparent;
    }
  }
}

.form-control {

  > *:not(:first-child) {
    margin-top: .7rem;
  }

  > :first-child {
    margin-top: 0;
  }
}